:root {
    /* USE CUSTOMIZER, otherwise these will override customizer values -- NO! Override them!*/
    --color_accent: #8575de;
    --color_accent_text: #ffffff;
    --color_content_background: rgba(40, 40, 40, 0.8); /*#282828*/
    --color_content_text: #d3d3d3;
    --color_content_headings: #ffffff;
    --color_footer_background: #282828;
    --color_footer_text: #d3d3d3;
    --color_footer_headings: #ffffff;

    --typography_fonts_text: 'Fira Sans', sans-serif;
    --typography_fonts_headings: 'Lato', serif;
    --typography_fonts_logo: 'Fira Sans', sans-serif;
}

.wp-block-image__ellipse figure {
  clip-path: ellipse(48% 44% at center);
}
.wp-block-image__jazy figure {
  background-image: url("https://jazyllerena.com/wp-content/uploads/2019/06/IMG_20190624_215446540.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  clip-path: ellipse(48% 44% at center);
}
.wp-block-image__jazy figure img {
}
.wp-block-image__jazy figure img:hover {
  animation-name: dab;
  animation-delay: 4s;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
@keyframes dab {
  to {
    opacity: 0;
  }
}

/* HARDCODED POSTID */
#post-412 > .entry-content-container {
  padding-top: 2rem;
}

.site-footer a {
    color: var(--color_footer_text);
}
.site-footer {
    padding-bottom: 0;
}
.site-footer .site-footer-area-inner {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.site-footer .site-footer-area-inner .site-info {
    text-align: center;
    flex: 1 1 auto; /* Allows text-align to work */
}

.wp-block-separator {
    border-color: #5f5f5f;
}
.wp-block-image figcaption {
    color: var(--color_content_text);
}
.wp-block-embed figcaption {
    color: var(--color_content_text);
}

.tags-links__top-meta {
	margin-bottom: 10px;
	padding-bottom: 15px;
	/* Border from top of footer .entry-meta.entry-meta-bottom */
	border-bottom-color: rgba(106, 108, 110, 0.2);
	border-bottom-style: solid;
	border-bottom-width: 2px;
}
.tags-links a {
	display: inline-block;
}
